* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--global-color-1: #800000;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 10px;
	width: 600px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

html {
	background-color: white;
}

a:focus,
a:hover {
	font-style: italic;
}


header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #c46d04, #b97118, #e6ccac, #ad7f47, #da7b07);
}

header h2 {
	font-size: 175%;
	color: var(--global-color-1);
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header img {
	float: left;
	padding: 0 30px;
}

.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}


main {
	clear: left;
	padding: 0 30px;
}

main h1 {
	padding: .3em 0;
	Width: 500px;
	border: 3px double #931420;
	color: #000000;
	font-size: 125%;
	text-align: center;
	font-weight: bold;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 4px 4px #000000;
}

main h2 {
	color: var(--global-color-1);
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

main h3 {
	font-size: 105%;
	padding-top: 1em; 
	padding-bottom: .25em;
}

main img {
	padding-bottom: 1em;
}

main p {
	padding-bottom: .5em;
}

main blockquote {
	padding: 0 2em;
	font-style: italic;
	font-style: italic;
}

main ul {
	padding: 0 0 .25em 1.25em;
}

main li {
	padding-bottom: .35em;
}


footer {
	background-color: #931420;
}

footer p {
	text-align: center;
	padding: 1em 0;
	color: white;
}